body{
    text-align: center;
    background-color: rgb(255, 0, 174);
}
h1{
    font-size: 50px;
    color: black;
    text-shadow: 3px 0 #DA0463;
}
.set {
    margin: 10% auto;
  }
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  .red {
    color: red;
  }
  
.w{
    background-image: url("images/1.jpeg");
  }
  .a{
    background-image: url("images/2.jpeg");
  }
  .s{
    background-image: url("images/3.jpeg");

  }
  .d{
    background-image: url("images/4.jpeg");

  }
  .j{
    background-image: url("images/5.jpeg");
  }
  .k{
    background-image: url("images/6.jpeg");

  }
  .l{
    background-image: url("images/7.jpeg");

  }

.drum{
    outline: none;
    border:10px solid #404B69 ;
    font-size: 5rem;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;


}
@media(max-width:1000px){
    .drum{
    width: 350px;
    height: 200px;
  text-align: center;
  margin: 10px 10px 10px 323px;
      display: block;
    }
  }